{% extends 'main.html' %}

{% block content %}

<!-- Main Section -->
<main class="settingsPage profile my-md">
  <div class="container">
    <div class="layout">
      <div class="column column--2of3">
        <div class="cart__title">
          <h3 class="title">Produkty w koszyku:</h3>
        </div>

        {% if entries %}
          {% for entry in entries %}
            <div class="card text-center">
              <div class="cart__card">
                <a style="display:flex;" class="cart__p" href="{% url 'product' entry.product.id %}">
                  <img class="avatar avatar--md" src="{{ entry.product.imageURL }}" alt="Product_image" href="{% url 'product' entry.product.id %}"/>
                </a>
                <a style="display:flex;" class="cart__p" href="{% url 'product' entry.product.id %}">
                  <p class="cart__p">{{ entry.product.name }}</p>
                </a>

                <p class="cart__p">Łącznie: {{ entry.total_price }} zł</p>


                <div class="cart__buttons">
                  <a href="{% url "decrease_product_quantity" entry_id=entry.id %}" class="btn">&#10134;</a>
                  <p class="cart__p">{{ entry.quantity }}</p>
                  <a href="{% url "increase_product_quantity" entry_id=entry.id %}" class="btn">&#10133;</a>
                  <a href="{% url "delete_product_from_cart" entry_id=entry.id %}" class="btn btn--error">&#128465;</a>
                </div>
              </div>
            </div>
          {% endfor %}
        {% else %}
          <div class="card text-center">
            <div class="card__body dev">
              <p class="settings__title">Brak produktów w koszyku.</p>
            </div>
          </div>
        {% endif %}
      </div>

      <div class="column column--1of3">
        <div class="card text-center">
          <div class="card__body dev">
            <h2 class="dev__username">Podsumowanie:</h2>
            <p class="dev__fullname">Liczba produktów: {{ num_of_products }}.</p>
            <p class="dev__location">Wartość całkowita: {{ total_price }} zł</p>

            {% if total_price %}
            <a class="tag tag--pill tag--main settings__btn tag--lg" href="{% url "order_summary" %}"><i
              class="im im-plus"></i>Złóż zamówienie</a>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

{% endblock %}