{% extends 'main.html' %}
{% load static %}
{% block content %}

<div class="auth">
    <div class="card">
        <div class="auth__header text-center">
            <h3>Polityka cookies</h3>
            <p style="white-space: pre-wrap;">Polityka Cookies

Na naszej stronie internetowej używamy plików cookies, aby poprawić doświadczenia użytkowników. Cookies to małe pliki danych przechowywane w przeglądarce użytkownika. Są one wykorzystywane do zapamiętywania preferencji i ustawień, analizowania ruchu na stronie oraz w celach marketingowych.

Rodzaje Cookies:

Niezbędne: Niezbędne do prawidłowego funkcjonowania strony, np. do zarządzania sesją użytkownika.
Analityczne: Pomagają nam zrozumieć, jak użytkownicy korzystają ze strony.
Funkcjonalne: Umożliwiają zapamiętywanie wybranych ustawień i personalizację interfejsu.
Reklamowe: Używane do dostarczania reklam bardziej dostosowanych do zainteresowań użytkowników.
Użytkownicy mogą kontrolować użycie cookies przez zmianę ustawień swojej przeglądarki. Należy jednak pamiętać, że wyłączenie cookies może wpłynąć na funkcjonalność strony internetowej.

Zgoda:

Kontynuując korzystanie z naszej strony bez zmiany ustawień, zgadzasz się na użycie cookies zgodnie z niniejszą polityką.</p>
        </div>

    </div>
</div>

{% endblock content %}