{% load static %}

<!-- Header Section -->
<header class="header">
    <div class="container container--narrow">
        <a href="{% url 'home_page' %}" class="header__logo">
            <img src="{% static 'images/logo.png' %} " alt="Logo" />
        </a>

        <nav class="header__nav">
            <input type="checkbox" id="responsive-menu" />
            <label for="responsive-menu" class="toggle-menu">
                <span>Menu</span>
                <div class="toggle-menu__lines"></div>
            </label>
            <ul class="header__menu">
                {% if request.user.is_authenticated %}
                    <li class="header__menuItem">
                        <a {% if request.resolver_match.url_name == 'account' %}style="color: var(--color-main-light);"{% endif %}
                        href="{% url 'account' %}">Moje konto</a></li>
                    <li class="header__menuItem"><a href="{% url 'logout' %}" class="btn btn--main">Wyloguj</a></li>
                {% else %}
                    {% if page == 'login' %}
                    <li class="header__menuItem"><a href="{% url 'register' %}" class="btn btn--main">Rejestracja</a></li>
                    {% else %}
                    <li class="header__menuItem"><a href="{% url 'login' %}" class="btn btn--main">Logowanie</a></li>
                    {% endif %}
                {% endif %}
                
                <li class="header__menuItem"><a href="{% url 'cart' %}" class="btn btn--main">&#128722;</a></li>
            </ul>
        </nav>
    </div>

    
</header>


<div class="subHeader">
    <div class="container container--narrow">
        
        <nav class="subHeader__nav">
            <ul class="subHeader__menu">
                {% if page == 'store' %}
                {% for category in categories %}
                <li class="subHeader__menuItem">
                    <a href="{% url 'store' category.id %}" class="btn btn--main">{{ category.name }}</a>
                </li>
                {% endfor %}
                {% endif %}
            </ul>
        </nav>
    </div>
</div>
