{% extends 'main.html' %}
{% load static %}
{% block content %}

<div class="auth">
    <div class="card">
        <div class="auth__header text-center">
            <h3>Polityka prywatności</h3>
            <p style="white-space: pre-wrap;">W CueMaster Store, szanujemy prywatność naszych klientów. Nasza polityka prywatności wyjaśnia, jakie dane osobowe zbieramy, w jaki sposób je wykorzystujemy i chronimy. Zbieramy dane takie jak imię i nazwisko, adres email, adres do wysyłki, i dane płatnicze, by realizować zamówienia i poprawiać jakość naszych usług. Stosujemy środki bezpieczeństwa, aby chronić te informacje przed nieuprawnionym dostępem. Klienci mają prawo do wglądu, poprawiania i usunięcia swoich danych osobowych.</p>
        </div>
    </div>
</div>

{% endblock content %}