{% extends 'main.html' %}
{% load static %}
{% block content %}

<div class="auth">
    <div class="card">
        <div class="auth__header text-center">
            <h3>Polityka prywatności</h3>
            <p style="white-space: pre-wrap;">1. Wstęp: Określenie strony prowadzącej sklep (CueMaster Store), jej adresu i podstawowych informacji o działalności.

2. Definicje: Wyjaśnienie kluczowych terminów używanych w regulaminie.

3. Zakres usług: Opis oferowanych produktów (sprzęt do bilarda), sposoby składania zamówień, dostępność produktów.

4. Ceny i Płatności: Informacje o cenach, metodach płatności, procesie realizacji płatności.

5. Dostawa: Zasady i koszty dostawy, przewidywany czas realizacji zamówienia.

6. Zwroty i Reklamacje: Procedura zwrotu towaru, warunki gwarancji, sposób zgłaszania i rozpatrywania reklamacji.

7. Prawa i Obowiązki Stron: Prawa kupującego i sprzedawcy, ochrona danych osobowych, odpowiedzialność za nieprawidłowości.

8. Zmiany Regulaminu: Warunki i sposób wprowadzania zmian do regulaminu.

9. Postanowienia Końcowe: Przepisy dotyczące rozstrzygania sporów, właściwość sądowa.</p>
        </div>

    </div>
</div>

{% endblock content %}