{% extends 'main.html' %}
{% block content %}

<main class="settingsPage my-xl">
  <div class="container">
    <div class="layout">
      <div class="column column--1of3">
        <div class="card text-center">
          <div class="card__body dev">
            <!-- Kategoria i podkategoria filtracja -->
            <div class="subcategories-filter">
              <!-- Formularz -->
              <div class="form__field">
                {% if category_id %}
                  <form class="form" action="{% url 'store' category_id %}" method="get">
                {% else %}
                  <form class="form" action="{% url 'store' %}" method="get">
                {% endif %}
              </div>
                    
              {% for category, subcats in category_subcategories.items %}
                <h4 style="display: table">{{ category.name }}</h4>
                {% for subcategory in subcats %}
                  <div class="form__field"> 
                    <label style="display: table";>
                      <input type="checkbox" name="subcat" value="{{ subcategory.id }}"
                            {% if subcategory.id|stringformat:"i" in selected_subcategories %} checked {% endif %}>
                      {{ subcategory.name }}
                    </label>
                  </div>  
                {% endfor %}
              {% endfor %}
            
              <input style="display:block" type="text" name="q" placeholder="Szukaj produktów..." value="{{ request.GET.q }}">
              <button style="margin-top: 1.5rem" type="submit" class="btn btn--main">Filtruj</button>
              </form>
            </div>
          </div>
        </div>
      </div>


      <div class="column column--2of3_mod">
          {% for product in products %}
          <div class="card text-center">
              <div class="card__body dev">
                  <a href="{% url 'product' product_id=product.id %}">
                    <img class="avatar avatar--xl dev__avatar" src="{{product.imageURL}}" alt="Profile_logo"/>
                  </a>
                  <h3 class="pro__name">{{ product.name }}</h3>
                  <h3 class="pro__price">Cena: {{ product.price }} zł</h3>
                  <button button class="btn btn--main" onclick="window.location.href='{% url "add_product_to_cart" product_id=product.id quantity=1 %}'">Do koszyka</button>
              </div>
          </div>
          {% endfor %}
      </div>
    </div>
  </div>
</main>
{% endblock %}